*{
    /* Default Values */

    margin: 0;
    padding: 0;

    /* Default Font */
    font-family: sans-serif;


    /* Default Colors */
    color: white;

    
}
body {
    background-color: #16191a;
}


.navbar ul {
    margin: 0;
    padding: 12px 16px;
    display: flex;
    justify-content: center;


    background-color: #39ace7;
    overflow: hidden;

    
    
}
.navbar li {
    
    text-decoration: none;
    list-style-type: none;
    

    
}

.navbar a {
    color: white;
    padding: 14px 16px;
    font-weight: bold;

    transition: all 0.1s ease-in;


    
}

.navbar a:hover {
    background-color: #0784b5;
}
